/OCR/AutoOcr/*.suo
/OCR/AutoOcr/AutoOcr/obj
/OCR/AutoOcr/AutoOcr/bin
/OCR/fileuploader/bin
/OCR/fileuploader/build
/OCR/fileuploader-src/version/build
/OCR/OcrTest/exe
/OCR/OcrTest/bin
/OCR/Tess4J/dist
/OCR/Tess4J/lib
/OCR/Tess4J/build
/Http/HttpTest/*.suo
/Http/HttpTest/HttpTest/obj
/Http/HttpTest/HttpTest/bin
/Http/HttpTest/ZhixuanVote/obj
/Http/HttpTest/ZhixuanVote/bin
/Http/HttpTest/ChunwanNoLimit/*
/Http/HttpTest/ChunwanNoLimit/*
/Http/SogouTest/SogouTest/obj
/Http/SogouTest/SogouTest/bin
/Http/ChunwanTest/ChunwanTest/obj
/Http/HttpTest/ChunwanNoLimit/obj
/Http/HttpTest/ChunwanNoLimit/bin
/Http/HttpTest/HttpTest/obj
/Http/HttpTest/HttpTest/bin
/Http/HttpTest/ZhixuanVote/obj
/Http/HttpTest/ZhixuanVote/bin
/Http/SogouTest/SogouTest/obj
/Http/SogouTest/SogouTest/bin
/OCR/AutoOcr/AutoOcr/obj
/OCR/AutoOcr/AutoOcr/bin
/OCR/fileuploader/bin
/OCR/fileuploader/build
/OCR/fileuploader-src/version/build
/OCR/OcrTest/exe
/OCR/OcrTest/bin
/OCR/Tess4J/build
/OCR/Tess4J/dist
/ProxyManager/src/resources/.svn
/ProxyManager/src/java/.svn
/ProxyManager/src/dist/.svn
/ProxyManager/src/lib/.svn
/ProxyManager/src/lib-no-dist/.svn
